@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
.background {
  position: fixed;
  inset: 0;
  z-index: -1;
  min-height: 100dvh;
  background-image: url('../assets/images/ashok-acharya-OoB37OE165o-unsplash.jpg');
  background-position: center;
  background-size: cover;
  filter: grayscale(.8);
}
h1 {
  font-size: 2.5rem;
  display: block;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgba(0, 0, 0, 0.7);
  /* text-shadow: 2px 2px 15px #000; */
  margin: 1.6rem auto 1rem auto;
}
form {
  margin: 0 auto 3rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 50%;
  /* background-color: rgb(209, 177, 239); */
  background-color: #2d3142;
  color: #bfc0c0;
  opacity: 0.92;
  border-radius: 5px;
}
form > div {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: .3rem;
  /* flex-basis: 45%; */
  min-width: 45%;
}
form label {
  font-weight: 600;
}
form > div input {
  width: 100%;
}
form input:not([type='radio']) {
  width: 100%;
  padding: .4rem .6rem;
  font-size: 1rem; 
  border-radius: 4px;
  border: none;
}
form input[type='date'] {
  width: fit-content;
  text-transform: uppercase;
}
input:focus {
  outline: none;
}
.email {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  gap: .3rem;
}
.gender-radios {
  display: flex;
  gap: .2rem;
  justify-content: flex-start;
  align-items: center;
}
.gender-radios input {
  margin-right: .4rem;
}
.guide-bio, .event-description {
  width: 100%;
}
form textarea {
  width: 100%;
  border-radius: 4px;
  border: none;
  outline: none;
  padding: .6rem;
  min-height: 6rem;
  font-size: 1rem;
}
form.login {
  max-width: 45%;
  flex-direction: column;
  padding: 4rem;
}
button {
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  color: #fffeff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
  border: 2px solid #fffeff;
  padding: .5rem 1.5rem;
  margin: 1rem auto 0 auto;
}
button span {
  position: relative;
}
button .spin {
  width: 0;
  height: 0;
  opacity: 0;
  left: 60px;
  top: 20px;
  transform: rotate(0deg);
  background: none;
  position: absolute;
  transition: all .4s ease-out;
}
button:hover .spin {
  width: 170%;
  height: 310%;
  opacity: 1;
  left: -30px;
  top: -30px;
  background: #fffeff;
  transform: rotate(80deg);
}
button:hover span {
  color: #2d3142;
}
.event-title {
  min-width: 100%;
}
.event-image {
  max-width: 100%;
}

@media screen and (max-width: 590px) {
  form, form.login {
    max-width: 70%;
  }
  form > div, form.login > div {
    width: 100%;
  }
  form input:not([type='email'], [type='date']) {
    width: 80%;
  }
  form.login input {
    width: 100%;
  }
}